/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-div {
  width: 80%;
  margin: 20px auto;
}
.button-container {
  margin-bottom: 20px;
}
